/*
For declaring variable
:root {
  --variable-name: value;
}

For using css variable
selector {
  property: var(--variable-name);
}
*/

/*======================Importing fonts======================*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400;1,500;1,700&display=swap');
/*Importing fonts end*/

/*===========================Variables===========================*/
:root {
    --font-family: 'Montserrat', sans-serif;
    --normal-font: 400;
    --medium-font: 500;
    --semibold-font: 600;
    --bold-font: 700;
    --bolder-font: 900;
    --header-margin: 2rem;
    --bottom-margin-1: 1rem;
    --bottom-margin-2: 0.5rem;            /* 1rem = 16px*/
    --transition: 0.3s;
    --heading-color: #1F1F25;
    --para-color: #303030;
    --primary-color: #000000/*#4756df*/;
    --secondary-color: #000000/*#ff7235*/;
    --bg-color:  #fcfcfc;
    --bg-color-1: #f0f0f0;
    --bg-color-2: #ffffff;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
}
/*Variable End*/

html {
    scroll-behavior: smooth;
}

/*CSS resets*/
* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

p {
    color: var(--para-color);
}
/*============================NavigationBar===============================*/
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
}

/*aligning & styling navbar using css flexbox*/
nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
    color: var(--primary-color);
}

nav a {
    color: var(--primary-color);
    transition: var(--transition);
}

nav a:active {
    color: var(--secondary-color);
}

nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: var(--semibold-font);
}

/*for burger menu*/
.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

/*=========================Hero=============================*/
.hero {
    width: 100%;
    /*height: 100vh;*/
    /*background: url("assets/images/constructionweb.png");
    background-size: cover;*/
    background-color: var(--bg-color-2);
}

.hero-container {
    max-width: 80rem;
    margin: 15% auto;
}

.hero-container h1{
    color: var(--heading-color);
    font-size: 5rem;
    font-weight: var(--bold-font);
}

.hero-container h1 span {
    color: var(--primary-color);
}

.hero-container .title {
    font-size: 1.5rem;
    font-weight: var(--semibold-font);
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: linear-gradient(120deg, #1c99fe 20.69%, #7644ff 50.19%,#fd4766 79.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-container p {
    width: 75%;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.hero-container a{
    text-decoration: none;
}

.cv-btn{
    color: white;
    font-size: 1rem;
    font-weight:  var(--semibold-font);
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    display: inline-block;
    transition: all .3s ease-in-out;
    /*background-size: 152% 100%;*/
    background: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 5px;
}

.cv-btn:hover{
    background: transparent;
    border-color: var(--primary-color);
    color: var(--primary-color);
}

/*===========================Skills=============================*/
.skills {
    background-color: var(--bg-color-1);
}

.skills-container {
    max-width: 80rem;
    margin: auto;
    text-align: center;
    padding: 5rem 0;
}

.skills-header {
    margin-bottom: var(--header-margin);
    font-size: 2rem;
}

.skills-container p{
    margin: 1rem 0rem;
}

.skills-wrapper img {
    padding: 1.25rem;
}

.icon {
    width: 11.25rem;
    height: 11.25rem;
}

.icon-card{
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    margin: 10px;
    border: 1px solid #dadce0;
}

/*=============================Projects===========================*/
.projects{
    background-color: var(--bg-color-2);
}

.projects-container{
    max-width: 80rem;
    text-align: center;
    padding: 5rem 0;
    margin: auto;
}

.projects-container .projects-header {
    margin-bottom: var(--header-margin);
    font-size: 2rem;
}

.projects-container p{
    margin: 1rem 0rem;
}

.projects-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-wrapper .project-pic {
    width: 100%;
    height: auto;
}

.project-wrapper {
    text-align: left;
    max-width: 25rem;
}

.project-title {
    font-weight: var(--medium-font);
}

.project-card {
    background-color: white;
    margin: 0.7rem auto;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    border: 1px solid #dadce0;
}

.project-wrapper .inner-box{
    padding: 30px;
    margin-bottom: var(--bottom-margin-2);
}

.project-wrapper a {
    padding: 8px 20px;
    background-color: var(--primary-color);
    border-radius: 5px;
    color: white;
    font-weight: var(--semibold-font);
    transition: all 0.4s ease-in-out;
    border: 2px solid var(--primary-color);
}

.project-wrapper a:hover {
    background-color: transparent;
    color: var(--primary-color);
    border-color: var(--primary-color);
}

/*=======================Contact Form===========================*/
.contact {
    background-color: var(--bg-color-1);
}

.contact-container {
    max-width: 80rem;
    margin: auto;
    text-align: center;
    padding: 5rem 0;
}

.contact-container .contact-header {
    margin-bottom: var(--header-margin);
    font-size: 2rem;
}

.contact-container p{
    margin: 1rem 0rem;
}

.contact-container .contact-wrapper{
    display: flex;
    text-align: left;
    max-width: 60rem;
    margin: 0 auto;
    /*padding: 1rem 0rem;*/
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    border: 1px solid #dadce0;
}

.contact-wrapper .contact-form {
    max-width: 40rem;
    flex-basis: 60%;
    margin: 0 auto;
    padding: 2rem 3rem;
}

/*.contact-form label{
    text-align: left;
    line-height: 2.7rem;
    font-weight: var(--semibold-font);
    color: var(--primary-color);
}*/

.contact-wrapper .contact-form textarea{
    min-height: 6.25rem;
    font-size: 14px;
}

.contact-wrapper .contact-form .input-field {
    width: 100%;
    margin: 0.5rem 0rem;
    padding: 0.5rem 1rem;
    border: 1px solid #dadce0;
    font-size: 0.875rem;
    outline: none;
}

.contact-wrapper .contact-form .input-field::placeholder {
  padding: 0.5rem;
  color: var(--primary-color);
}

.contact-wrapper .contact-form .submit-btn {
    padding: 10px;
    margin-top: 10px;
    font-size: 1rem;
    font-family: var(--font-family);
    font-weight: var(--semibold-font);
    color: white;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    transition: var(--transition);
}

.contact-wrapper .contact-form .submit-btn:hover {
    background-color: transparent;
    color: var(--primary-color);
}

.contact-wrapper .contact-info {
    flex-basis: 40%;
    color: white;
    background-color: var(--primary-color);
    padding: 2rem;
}

.contact-info .info-blocks {
    margin-bottom: var(--bottom-margin-1);
}

/*======================Selection colour=============================*/
::selection {
    background: #444;
    color: #ffffff;
    text-shadow: none;
}
