/*
For declaring variable
:root {
  --variable-name: value;
}

For using css variable
selector {
  property: var(--variable-name);
}
*/

/*======================Importing fonts======================*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400;1,500;1,700&display=swap');
/*Importing fonts end*/

/*===========================Variables===========================*/
:root {
    --font-family: 'Montserrat', sans-serif;
    --normal-font: 400;
    --medium-font: 500;
    --semibold-font: 600;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color:  #fcfcfc;
    --primary-color: #4756df;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --header-margin: 2rem;
    --bottom-margin: 1rem;
    --bottom-margin-2: 1.7rem;            /* 1rem = 16px*/
    --transition: 0.3s;
    --bg-color-1: #fffdd0;
    --bg-color-2: #1f1f1f;
}
/*Variable End*/

html {
    scroll-behavior: smooth;
}

/*CSS resets*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*============================NavigationBar===============================*/
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color)
}

a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
}

/*aligning & styling navbar using css flexbox*/
nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
    color: var(--primary-color);
}

nav a {
    color: var(--primary-color);
    transition: var(--transition);
}

nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: var(--semibold-font);
}

/*for burger menu*/
.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

/*===========================Skills=============================*/
.skills {
    background-color: var(--bg-color-1);
}

.skills-container {
    max-width: 80rem;
    margin: auto;
    text-align: center;
    padding: 5rem 0;
}

.skills-header {
    margin-bottom: var(--header-margin);
    font-size: 32px;
}

.skills-wrapper img {
    padding: 1.25rem;
}

.icon {
    width: 11.25rem;
    height: 11.25rem;
}

.icon-card{
    background-color: #fff;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 10px;
    margin: 10px;
    border-radius: 11px;
}

/*=============================Projects===========================*/
.projects{
    background-color: var(--primary-color);
}

.projects-container{
    max-width: 80rem;
    margin: auto;
    text-align: center;
    padding: 5rem 0;
}

.projects-header {
    margin-bottom: var(--header-margin);
    font-size: 32px;
}

.projects-pic {
    width: 65%;
    height: 60%;
}

.projects-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-wrapper {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
    border: 3px solid black;
}

.projects-title {
    text-align: center;
    margin-bottom: var(--bottom-margin);
}

.projects-details {
    margin-bottom: var(--bottom-margin);
}

.projects-card {
    background-color: #fff;
    border-radius: 11px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
}

.project-wrapper p {
    padding: 0.4rem;
}

.project-wrapper a {
    padding: 8px 20px;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 30px;
}

/*=======================Contact Form===========================*/
.contact {
    background-color: var(--bg-color-1);
}

.contact-container {
    max-width: 80rem;
    margin: auto;
    padding: 5rem 0;
}

.contact-header {
    margin-bottom: var(--header-margin);
    font-size: 32px;
    text-align: center;
}

.contact-form {
    max-width: 40rem;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 11px;
    border: 3px solid black;
    background-color: #fff;
    box-shadow: 0 3px 10px var(--secondary-shadow);
}

.contact-form label{
    line-height: 2.7rem;
    font-weight: var(--semibold-font);
    color: var(--primary-color);

}

.contact-form textarea{
    min-height: 6.25rem;
    font-size: 14px;
}

.contact-form .input-field {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border: none;
    border: 2px solid grey;
    font-size: 0.875rem;
    outline: none;
}

.input-field::placeholder {
  padding: 0.5rem;
  color: var(--primary-color);
}

.submit-btn {
    padding: 10px;
    margin-top: 10px;
    font-size: 1rem;
    font-family: var(--font-family);
    font-weight: var(--semibold-font);
    color: var(--primary-color);
    background-color: #fff;
    border: 2px solid var(--primary-color);
    border-radius: 4px;
}
